@model MVC_project.Models.ShippingInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ShippingInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryBoy.DeliveryBoyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryBoy.DeliveryBoyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShippingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
