@model IEnumerable<MVC_project.Models.ShippingInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShippingCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryBoy.DeliveryBoyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryBoy.DeliveryBoyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShippingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShippingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShippingId })
        </td>
    </tr>
}

</table>
